extends ../../../layout.pug
block vars
  - var title = "Portal"
  - var date = ""
  - var description = ""

block content
  article.post
    h1= title
    .meta
      span.date Published: #{date}
    p.description= description
    .post-body
      != contentHtml
