nav(role="navigation" aria-label="Main" aria-current="page")
	a(href="/") Home
	|   [
	a(href="/posts/") Posts
	| ] [
	a(href="/tags/") Tags
	| ] [
	a(href="/projects/") Projects
	| ] [
	a(href="/portal/") Portal
	| ] [
	a(href="https://github.com/Somayyah") GitHub
	| ] [
	a(href="/side-ventures/") Side-Ventures
	| ]
