nav(role="navigation" aria-label="Main" aria-current="page")
	a(href="/") Home
	|   [
	a(href="/posts/posts.html") Posts
	| ] [
	a(href="/tags/tags.html") Tags
	| ] [
	a(href="/projects/projects.html") Projects
	| ] [
	a(href="/portal/portal.html") Portal
	| ] [
	a(href="https://github.com/Somayyah") GitHub
	| ] [
	a(href="/side-ventures/side-ventures.html") Side-Ventures
	| ]
