extends layout

block content
    h1 Firmware Oddities
    h2 One Bug At A Time
    p Welcome, here I write on anything comes to my mind from info-dumping to documenting my tech experiments in various fields like programming, reverse engneering and computer networking. If you like to read about how I build and break systems and learn by actually doing then you've come to the right place!
