doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Firmware Oddities
  body
    header
      h1 Firmware Oddities 
      nav
        a(href="index.html") Home
        a(href="Posts.html") Posts
        a(href="tags.html") Tags 
        a(href="projects.html") Projects 
        a(href="portal") Portal 
        a(href="https://github.com/Somayyah") Github 
        a(href="side-ventures.html") Side ventures
        button light2dark
    block about
    block content
    footer
      p © 2025 Me