extends ../../../layout

block vars
	- var title = "Posts"
	
block content
	h1 posts
	p Here you can see my posts in chronological order
	ul
		each file in list
			- var linkname = file.replace('.html', '')
			li: a(href=`/posts/${file}`) #{linkname}
