extends layout.pug

block content
	section
		p Hey there!
		p Welcome, here I write on anything comes to my mind from info-dumping to documenting my tech experiments in various fields like programming, reverse engineering and computer networking. 
		p If you like to read about how I build and break systems and learn by actually doing then you've come to the right place!

