doctype html

html(lang="en")
	head
		title Techweb Unraveled
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		nav
			a.nav-brand(href="/") Techweb Unraveled
			ol
				li
					a(href="/posts/") Posts
				li
					a(href="/tags/") Tags
				li
					a(href="/projects/") Projects
				li
					a(href="/portal/") Portal
				li
					a(href="https://github.com/Somayyah") GitHub
				li
					a(href="/side-ventures/") Side-Ventures
		header
			h1 Techweb Unraveled
			h2 One thread at the time

		main
			section
				p
					| Hey there!
					| Welcome, here I write on anything comes to my mind from info-dumping to documenting my tech experiments in various fields like programming, reverse engneering and computer networking. If you like to read about how I build and break systems and learn by actually doing then you've come to the right place!

			.home-posts.list-posts
				h2 Posts
				ol
					li 
						a(href="/posts/posts-1.html") Post 1
					li
						a(href="/posts/posts-2.html") Post 2

		footer
			p &copy; 2025 watari@techwebunraveled.xyz
