doctype html
html(lang="en")
  head

  body
    nav.header-nav
      .nav-title
        a.nav-brand(href="/") Techweb Unraveled

      .nav-links
        .nav-link
          a(href="html/content/posts/") Posts
        .nav-link
          a(href="html/content/tags/") Tags
        .nav-link
          a(href="html/content/projects/") Projects
        .nav-link
          a(href="html/content/portal/") Portal
        .nav-link
          a(href="https://github.com/Somayyah") GitHub
        .nav-link
          a(href="html/content/side-ventures/") Side-Ventures

    main#content
      .flex-container
        section.home-about
          h1 Techweb Unraveled
          h2 One thread at the time
          br
          p
            | Hey there!
            br
            | Welcome, here I write on anything comes to my mind from info-dumping to documenting my tech experiments in various fields like programming, reverse engneering and computer networking. If you like to read about how I build and break systems and learn by actually doing then you've come to the right place!
        section.social-icons

      .flex-break

      .home-posts.list-posts
        h2 Posts

    footer.parent
      .div3
        span.ft-copyright-text &copy; 2025 watari@techwebunraveled.xyz
