doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Firmware Oddities
  body
    header
      h1 Firmware Oddities 
      nav(aria-label="Main Navigation")
        ul
          li
            a(href="index.html") Home
          li 
            a(href="Posts.html") Posts
          li 
            a(href="tags.html") Tags 
          li 
            a(href="projects.html") Projects 
          li 
            a(href="portal") Portal 
          li 
            a(href="https://github.com/Somayyah") Github 
          li 
            a(href="side-ventures.html") Side ventures
          li 
            button light2dark
    block content
    footer
      p © 2025 watari@techwebunraveled.xyz