doctype html

html(lang="en")
	block vars

	head
		title= title || "Techweb Unraveled"
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		
		include html/includes/nav
		block header
		
		main
			block content
			
			section.home-posts
				h2 Posts
				ul
					if [1,2,3,4,5].length > 0
						each i in [1,2,3,4,5]
							li 
								a(href=`/posts/posts-${i}.html`) Post #{i}
					else
						p no posts yet
		
		include html/includes/footer