doctype html

html(lang="en")
	block vars

	head
		title= title || "Techweb Unraveled"
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		
		include html/includes/nav
		block header
		
		main
			block content
					
		include html/includes/footer