extends ../../layout

block content
	block title
		h1 NOTHING YET

	block publish_date
		p Jan, 1, 1111

	block article
		article Default article content

	block author
		p Default author
