doctype html
html
	head
		title Should be the same title in the post

block frontmatter

block content
	h1 title of the post
	date publish date
	article This content should be taken from the rendered MD from the post
	p pen name
	
